/* Move down content because we have a fixed navbar that is 3.5rem tall */

body {
    padding-top: 4rem;
}

#mapid {
    /* width: 500px; */
    height: 500px;
    margin: 0 auto;
    /*centered*/
}

#obiwan {
    text-align: center;
    margin: 0 auto;
    padding-top: 20rem;
}